html, body, header, nav, h1, a, ul, li,
strong, main, button, i, section, img, div, h2,
p, form, fieldset, label, input, textarea, span, article, footer, time, small {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font: inherit;
    color: inherit;
    text-align: inherit;
    text-decoration: inherit;
    vertical-align: inherit;
    box-sizing: inherit;
    background: transparent;
  }

  body {
    background: black;
    overflow: hidden;
  }

  /* #appended-right {
    top: 0px;
    right: 0px;
    position: absolute;
    background: red;
    color: blue;
  } */
  /* #appended-left {
    top: 0px;
    left: 0px;
    position: absolute;
    background: red;
    color: blue;
  }
  #appended-up {
    top: 0px;
    left: 43px;
    position: absolute;
    background: red;
    color: blue;
  }
  #appended-down {
    top: 0px;
    right: 43px;
    position: absolute;
    background: red;
    color: blue;
  } */
  /* #appended-up{
    top: 0px;
    left: 43px;
    position: absolute;
    background: red;
    color: blue;
  } */

.center {
  display: flex;
  justify-content: center;
}
.play-buttons{
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  width: 50px;
}
.fa-youtube {
  color: green;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;

}

.fa-pause-circle {
  color: red;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;

}

.background-image  {
  background-image: url("http://1.bp.blogspot.com/-MksQ-Vm6h5c/Ttxmm9V_CWI/AAAAAAAAAuA/UOPMOSrp5p8/s1600/dance-wallpaper-hd-4-734979.jpg");
  width: 950px;
  height: 700px;
  border: 4px solid red;
  box-shadow: 0px 0px 40px red;
  display: flex;
  justify-content: center;
}

.info {
  align-self: center;
  display: flex;
  justify-content: column;
  width: 50px;
}

.points {
  align-self: center;
  font-family: "Museo";
  font-size: 26px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  width: 150px; 
}

.left {
  text-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px red, 0 0 40px red, 0 0 70px red, 0 0 80px red, 0 0 100px red, 0 0 150px red;

}

/* .points {
  align-self: center;
  font-family: "League-Gothic", Courier;
  font-size: 26px;
  text-transform: uppercase;
  color: red;
  text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85, -20px -20px 40px #ffae34, 20px -40px 50px #ec760c, -20px -60px 60px #cd4606, 0 -80px 70px #973716, 10px -90px 80px #451b0e;
} */

.how-to-play {
  color: red;
  flex-wrap: wrap;
}


.arrows {
  position: absolute;

}

.up-down-left-right-arrows {
  display: flex;
  justify-content: column;
  align-items: flex-end;
  height: 700px;
}

.fas {
  color: white;
  margin-bottom: 6%;
}
